body {
    background-color: #121212;
}

div.main-site{
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
}

.rhap_container {
    background-color: #282828;
    color: white;
}

/* .rhap_container svg {
    color: white;
} */

.rhap_time{
    color: rgb(175, 175, 175);
}